<h1><%= @project.title %></h1>
<h2><%= link_to 'Characters', project_characters_path(params[:id]) %></h2><br>
<h2><%= link_to 'new Settings', new_project_sett_path(params[:id]) %></h2><br>
<h2><%= link_to 'Scenes', project_scenes_path(params[:id]) %></h2><br>