
    <ul>
        <h4><%= post.name %></h4>
        <iframe width="560" height="315" 
            src="<%=post.link%>" frameborder="0" 
            allow="accelerometer; 
            autoplay; 
            encrypted-media; 
            gyroscope; 
            picture-in-picture" 
            allowfullscreen>
        </iframe>
        <p><%= post.description %></p>
    </ul>
