<div>

<h3> Hi <%= @user.username%></h3>
<div>
    <%= render partial: 'posts/post', collection: @posts %>
</div>
<% if current_user.admin %>
    <%= link_to "Add Post", new_post_path %>
<% end %>
</div>